<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yaungyue.secondhand.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="xyz.yaungyue.secondhand.model.entity.Address">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="consignee" column="consignee" />
            <result property="phone" column="phone" />
            <result property="provinceId" column="province_id" />
            <result property="cityId" column="city_id" />
            <result property="districtId" column="district_id" />
            <result property="detailAddress" column="detail_address" />
            <result property="isDefault" column="is_default" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,consignee,phone,province_id,city_id,
        district_id,detail_address,is_default,create_time
    </sql>
</mapper>
