<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yaungyue.secondhand.mapper.AdminRoleMapper">

    <resultMap id="BaseResultMap" type="xyz.yaungyue.secondhand.model.entity.AdminRole">
            <id property="adminId" column="admin_id" />
            <id property="roleId" column="role_id" />
    </resultMap>

    <sql id="Base_Column_List">
        admin_id,role_id
    </sql>
</mapper>
