<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yaungyue.secondhand.mapper.EvaluateMapper">

    <resultMap id="BaseResultMap" type="xyz.yaungyue.secondhand.model.entity.Evaluate">
            <id property="id" column="id" />
            <result property="orderId" column="order_id" />
            <result property="fromUserId" column="from_user_id" />
            <result property="toUserId" column="to_user_id" />
            <result property="score" column="score" />
            <result property="content" column="content" />
            <result property="type" column="type" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,from_user_id,to_user_id,score,content,
        type,create_time
    </sql>
</mapper>
