<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yaungyue.secondhand.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="xyz.yaungyue.secondhand.model.entity.Menu">
            <id property="id" column="id" />
            <result property="parent_id" column="parent_id" />
            <result property="menu_name" column="menu_name" />
            <result property="permission" column="permission" />
            <result property="path" column="path" />
            <result property="type" column="type" />
            <result property="sort" column="sort" />
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,menu_name,permission,path,type,
        sort
    </sql>
</mapper>
