<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yaungyue.secondhand.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="xyz.yaungyue.secondhand.model.entity.OrderItem">
            <id property="id" column="id" />
            <result property="orderId" column="order_id" />
            <result property="productId" column="product_id" />
            <result property="productName" column="product_name" />
            <result property="productImage" column="product_image" />
            <result property="price" column="price" />
            <result property="quantity" column="quantity" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,product_id,product_name,product_image,price,
        quantity
    </sql>
</mapper>
